html {
    font-size: 16px; 
  font-family: Arial, sans-serif; 
  line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: solid 1px black;
    gap: 5px;
}

.right-side {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 10fr;
    gap: 5px;
}

.sidebar {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 0.5fr 2fr 2fr 5fr;
    background-color: lightblue;
}

.nav {
    
}

.sidebar ul>li {
    list-style-type: none;
}

.nav-icon {
    width: 12%;
}

.header-container {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: grey; /* temporary */
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header.top {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#left-header-top, #right-header-top {
    display: flex;
}

#left-header-top {
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 25px;
}

#left-header-top > .header-icon {
    width: 5%;
}

#right-header-top {

}

#right-header-top > .header-icon {
    width: 20%;
}



.header.bottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#left-header-bottom {
    display: flex;
}

#right-header-bottom {
    display: flex;
}

.avatar-icon {
    border-radius: 50%;
}

#mini {
    width: 20%;
}

#big {
    width: 20%;
}

.main {
    grid-area: 2 / 1 / 3 / 3;
    /* grid-column: 1 / 3;
    grid-row: 2 / 4; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 5px;
}


#project-title {
    grid-area: 1 / 1 / 2 / 3;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.card {
    background-color: lightcoral;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.card-icon-container {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.card-icon {
    width: 10%;
}

.side-content {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 4fr;
}

.side-header {
    
}

.side-card {
    background-color: lightseagreen;
}

#site-logo {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    max-height: 50px;
}

#main-icon {
    height: 75%;
    width: 75%;
}
